body>main>article>section {
    display: flex;
    flex-flow: row wrap;
}

body>main>article>section>form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    font-size: 4em;
    outline: none;
}

input[type=submit]:focus {
    border: 4px solid var(--mango-tango);
}