body>main>article>header {
    grid-area: header;
}

body>main>article>article {
    grid-area: main;
}

body>main>article>aside {
    grid-area: scores;
}

body>main>article>footer {
    grid-area: restart;
}

body>main>article {
    display: grid;
    grid-template-areas: "header header" "main scores" "restart restart";
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr 3fr 3fr;
    column-gap: 2em;
}
#scores {
    list-style: none;
    min-width: 160px;
}

#scores>li {
    display: flex;
    justify-content: space-between;
}
#reset_link {
    display: block;
    width: 100%;
    margin: 5px auto;
    padding: 4px;
    text-align: center;
    color: var(--floral-white);
    background-color: var(--cedar-chest);
    text-decoration: none;
}
#reset_link:hover {
    background-color: var(--mango-tango);
}
#play_again {
    display: block;
    width: 100%;
    /* margin: 5px auto; */
    /* padding: 200px; */
    padding: 4px;
    text-align: center;
    color: var(--floral-white);
    background-color: var(--english-violet);
    text-decoration: none;
}
#play_again:hover {
    background-color: var(--dark-purple);
}