html {
    height: 100%;
}

body {
    background-color: ivory;
    margin: 0px;
    height: 100%;
    font-family: phoreuscherokee, serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* align-items: start; */
}

body>header {
    display: flex;
    background-color: bisque;
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
    justify-items: center;
    align-items: center;
}

#logo {
    color: #2e2e2e;
    text-decoration: none;
    font-size: 2em;
}

body>main {
    width: 100%;
    /* margin: auto; */
    align-self: start;
    /* background-color: hotpink; */
}

body>main>article {
    padding: 10px;
}

body>main>article>h2 {
    text-align: center;
}

body>main>article>section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

input[type=submit] {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 10px;
    border-style: none;
    background-color: indigo;
    color: white;
    font-size: 4em;
    outline: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darkslateblue;
}

input[type=submit]:focus {
    border: 2px solid white;
}

input[type=submit]:active {
    background-color: black;
}



body>footer {
    background-color: bisque;
}


#scores {
    list-style: none;
    width: 200px;
}
#scores>li {
    display:flex;
    justify-content: space-between;
}

