{% extends "base.html" %}

{% block content %}
<article>
  <form action="/get-choices" method="post">
    <input type="hidden" name="move" value="rock">
    <input type="submit" value="Rock">
  </form>
  <form action="/get-choices" method="post">
    <input type="hidden" name="move" value="paper">
    <input type="submit" value="Paper">
  </form>
  <form action="/get-choices" method="post">
    <input type="hidden" name="move" value="scissors">
    <input type="submit" value="Scissors">
  </form>
</article>

{% endblock %}