{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
{% endblock %}

{% block content %}
<article>
  <header>
    <h2>Pick a move, {{ player_name }}:</h2>
  </header>
  <section>
    <form action="/get-choices" method="post">
      <input type="hidden" name="move" value="rock">
      <input type="submit" value="✊" name="rock">
      <label for="rock">Rock</label>
    </form>
    <form action="/get-choices" method="post">
      <input type="hidden" name="move" value="paper">
      <input type="submit" value="✋" name="Paper">
      <label for="paper">Paper</label>
    </form>
    <form action="/get-choices" method="post">
      <input type="hidden" name="move" value="scissors">
      <input type="submit" value="✌️" name="Scissors">
      <label for="scissors">Scissors</label>
    </form>
    <!-- <form action="/get-choices" method="post">
      <label for="move">Choose your move: </label>
      <select name="move">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
      </select>
      <input type="submit" value="Play">
    </form> -->
  </section>
</article>

{% endblock %}