{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
{% endblock %}

{% block content %}
<header>
  <h2>Welcome!</h2>
</header>

<article>
  <main>
    <hgroup>
      <h3>What is Rock, Paper, Scissors?</h3>
      <h5>How do you not know?</h5>
    </hgroup>
    <aside>
      <p><strong>Rock</strong> beats <strong>Scissors</strong></p>
      <p><strong>Scissors</strong> beats <strong>Paper</strong></p>
      <p><strong>Paper</strong> beats <strong>Rock</strong></p>
    </aside>

    <section>
      <h3>Ready to play?</h3>
      <form action="/set-name" method="post">
        <div>
          <label for="name">Enter your name: </label>
          <input type="text" name="name" placeholder="{{ player_name }}">
        </div>
        <input type="submit" value="Play!">
      </form>
    </section>
  </main>
</article>
{% endblock %}