{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block content %}
<header>
  <h2>Welcome!</h2>
</header>

<article>
  <header>
    <h3>What is Rock, Paper, Scissors?</h3>
  </header>
  <main>
    <h4>It's simple</h4>
    <h5>Rock beats Scissors</h5>
    <h5>Scissors beats Paper</h5>
    <h5>Paper beats Rock</h5>
  </main>
  <aside>
    <h3>Ready to play?</h3>
    <form action="/set-name" method="post">
      <div>
        <label for="name">Enter your name: </label>
        <input type="text" name="name" placeholder="{{ player_name }}">
      </div>
      <input type="submit" value="Play!">
    </form>
  </aside>
</article>

{% endblock %}